{% for message in messages %}
    {% set position = message.user_id_sender == user_id ? 'right' : 'left' %}
    <div data-timestamp='{{ message.message_timestamp }}' class="message-bubble message-bubble-{{ position }}">
        <h5><span class="pull-{{ position }}" style="text-align: left">{{ message.message }}</span></h5>
        <p id="message-date" class="pull-{{ position }}">{{ message.message_timestamp | date("M d, H:i") }}</p>
    </div>
{% endfor %}